<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="michel" translate="label" sortOrder="10">
            <label>Michel</label>
        </tab>
        <section id="price_approve" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Price Approve</label>
            <tab>michel</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>E-mail Alert</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Send Mail</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_to" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>E-mail to send alert</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="email_template_price_approve" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Email Template</label>
                    <comment>Email template for price approve.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="email_identity" translate="label" type="select" sortOrder="15" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
